$blue: #2519D2;
$yellow: #FFAB00;
$nav-logo-width: 200px;

$american-blue: #0157ae;
$american-red: #d42729;
$dark-gray: #12110B;
$green: #2EB24B;
$money-green: #85bb65;

$red-one: #f43b1d;
$blue-one: #29a6f3;
$blue-two: #2b388f;
$blue-three: #001958;
$beige: #efebe5;


// $general-font: "Roboto";
// $general-font: "Times New Roman";
$general-font: 'Roboto', sans-serif;


$light-blue: #F5FBFF;
$darker-light-blue: #DCEEFF;

$input-width-large: 580px;
$input-width-small: 500px;


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    // font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    //     monospace;
}

.fade-in {
    animation: fadeIn .3s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut .3s ease-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.add-margin-for-nav-bar {
    margin-top: 70px;
}

.nav-bar-empty {
    width: 100%;
    height: 70px;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 4px 8px rgba(0, 0, 0, 0.3);


    // position: -webkit-sticky;
    // position: sticky;
    // top: 0;

    background-color: $blue-three;
    width: 100%;
    height: 70px;
}

.hamburger-button {
    background-color: transparent;
    color: inherit;
    width: fit-content;
    border: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 20px;
    position: fixed;
    left: 0;

    @media (min-width: 1000px) {
        display: none;
    }
}

.hamburger {
    // width: 50px;
    height: fit-content;
    margin-right: 15px;
}

.hamburger-block {
    border-top: 2px solid white;
    width: 30px;
    height: 5px;

}

.nav-logo-container {
    display: flex;
    position: fixed;
    left: 10px;

    align-self: center;
    justify-self: center;

    @media (max-width: 1000px) {
        left: calc(50% - .5*$nav-logo-width);
    }

    @media (max-width: 350px) {
        display: none;
    }
}

.nav-logo {
    width: $nav-logo-width;
}

.modal-nav {
    height: 100vh;
    width: 100vw;

    @media (max-width: 600px) {
        width: 100vw;
    }

    background: $blue-three;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0%;
    // right: 0%;

}

.modal-nav-inner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.undo-button-styles {
    background-color: transparent;
    color: inherit;
    width: fit-content;
    border: 0;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.x-symbol {


    height: 100px;
    width: 100px;
    position: relative;
}

.x-symbol:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 40px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}

.x-button {
    position: absolute;
    left: 0;
    top: 0;

}

.side-menu-nav-link {

    background-color: transparent;
    width: fit-content;
    border: 0;
    padding: 0;
    font: inherit;
    font-family: $general-font;
    cursor: pointer;
    outline: inherit;

    color: white;
    font-size: 36px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    font-weight: 700;

    @media (max-width: 1000px) {
        font-size: 30px;
    }

    &:hover {
        color: $yellow;
    }
}

.side-menu-nav-link-active {
    // color: $blue;
    // text-decoration: underline;
}

.nav-link-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-self: right !important;
    align-self: right !important;
    justify-content: right;
}

.nav-link {

    color: white;
    font-size: 14px;
    margin-right: 30px;
    text-decoration: none;
    font-family: $general-font;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        color: $yellow;
        text-decoration: underline;
    }

    @media (max-width: 1000px) {
        display: none;
    }
}

.nav-link-active {
    color: $yellow;
}

.carousel-image {
    height: 290px;
    width: 100vw;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 16px;
    cursor: pointer;
    font-size: 24px;
    z-index: 100;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Optional: styling for when you hover on buttons */
.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.footer-container {
    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    background-color: gray;
    color: white;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
}

.footer-text {
    font-size: 12px;
    margin: 0px 10px;
}

.nav-logo-footer {
    position: absolute;
    right: 0;
    width: 20vw;

    // @media (max-width: 1000px) {
    //     // position: relative;
    //     // height: 80px;

    // }

    @media (max-width: 600px) {
        height: 80px;
        position: relative;

    }

    align-self: right;
}

.about-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    background-color: $light-blue;
    padding: 100px 0px 0px 0px;


    @media (min-width: 1000px) {
        flex-direction: row;
        height: 600px;
        // font-size: 1px;
    }
}

.half-section {
    margin-left: 40px;
    width: 60%;
    display: flex;
    justify-content: center;

    @media (min-width: 1000px) {
        width: 50%;
    }
}

.about-section-one-image {
    height: 600px;

    // margin: 10px 10px;

    @media (min-width: 1000px) {}
}

.traditional.box {
    box-shadow:
        0 6px 6px hsl(0deg 0% 0% / 0.3);
}

.layered.box {
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}

.about-section-one-text {
    font-size: 30px;
    margin: 0px 0px 0px 50px;

    font-family: $general-font;

    @media (min-width: 1000px) {
        font-size: 50px;
    }
}

.form {
    width: 625px;
}

.input-element-container {
    display: flex;
    flex-direction: column;
    height: 80px;
    width: $input-width-large;

    @media (max-width: 1000px) {
        width: $input-width-small;
    }

    max-width: 90vw;



}

.input-element {

    border: 1px solid #999999;
    background-color: #E9F0FE;
    height: 45px;
    border-radius: 5px;
    width: $input-width-large;
    font-size: 16px;

    @media (max-width: 1000px) {
        width: $input-width-small;
    }

    &:focus {
        background-color: white;
    }

    max-width: 90vw;

}

.input-element-error {
    border: 1px solid red;
}

.input-label {
    // color: #2519D2;
    font-size: 12px;
    color: gray;
    // font-family: sans-serif;
    font-family: $general-font;
    font-weight: bold;
    margin-bottom: 5px;
    position: relative;
    top: 23px;
    left: 8px;
    height: 18px;

}

.input-and-images {
    display: flex;
    flex-direction: row;
    width: 800px;
}

.card-images-container {
    position: relative;
    left: -200px;
}

.card-images-container-small {
    position: relative;
    left: -50px;
}

.card-logo {
    position: relative;
    pointer-events: none;
}

.form-error {
    // color: #EB6864;
    color: #EC6864;
    height: 10px;
    min-width: 1px;
}

.volunteer-container {
    display: flex;
    flex-direction: column;
    margin: 100px 20px;
    align-items: center;
}

.volunteer-title {
    font-family: $general-font;
    font-size: 40px;
    color: $american-blue;
    width: 625px;
    text-align: center;
    max-width: 90vw;
    font-weight: 700;
}

.volunteer-text {
    width: 625px;
    text-align: center;
    margin: 0px 0px 20px 0px;
    max-width: 90vw;
}

.submit-volunteer {
    width: 400px;
    height: 70px;
    margin: 20px 0px;
    background-color: $american-red;
    color: white;
    border-radius: 20px;
    font-family: unionGothic;
    font-size: 25px;
    font-weight: bold;
    opacity: .5;
    border: 1px solid #d4272B;


    @media (max-width: 1000px) {
        width: 90%;
    }


}

.submit-volunteer-valid {
    width: 400px;
    height: 70px;
    margin: 20px 0px;
    background-color: $green;
    color: white;
    border-radius: 20px;
    font-family: unionGothic;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #2EB26B;

    @media (max-width: 1000px) {
        width: 90%;
    }

    &:hover {
        background-color: #2EB26B;

    }
}

.panel {
    background: white;
    display: flex;
    flex-direction: column;
    font-family: $general-font;
}

.panel-two {
    background-color: $light-blue;
}

.inner-panel {
    margin: 20px 40px 20px 40px;

}

.panel-title {
    color: $american-blue;
    font-size: 40px;
    margin: 40px 40px;
    font-weight: bold;
    text-transform: capitalize;
}

.panel-text {
    color: black;
    font-size: 16px;
    margin: 5px 40px;
}

.panel-quote {
    color: black;
    font-size: 24px;
    margin: 0px 40px;
}

.subscribe-option-input {}

.amount-buttons-container {
    display: flex;
    flex-direction: row;
}

.amount-button {
    background-color: transparent;
    color: inherit;
    width: 100px;
    height: 50px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 5px;

    &:hover {
        background-color: $money-green;
        border: 1px solid $green;


    }

}

.custom-amount-button-container {
    height: 80px;
    display: flex;
    align-items: center;
}

.custom-amount-button {
    background-color: transparent;
    color: inherit;
    width: 340px;
    height: 45px;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border: 1px solid gray;
    border-radius: 5px;

    &:hover {
        background-color: #F5F5F5;
    }
}

.amount-button-selected {
    border: 1px solid $green;

    background-color: $money-green;
}

.custom-amounts-and-error {
    display: flex;
    flex-direction: column;
}

.required-star {
    color: red;
}

.donate-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 20px;

    @media (max-width: 1000px) {
        margin: 100px 10px;
    }
}

.sign-up-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 100px 20px;

    @media (max-width: 1000px) {
        margin: 30px 10px;
    }

}

.donate-container {
    display: flex;
    flex-direction: column;
    // width: 100vw;
    // margin: 100px 20px;
    align-items: center;

    @media (max-width: 1000px) {}

}

.donate-title {
    font-family: $general-font;
    font-size: 40px;
    color: $american-blue;
    margin-top: 30px;
    text-align: center;
    font-weight: 700;

    max-width: 90vw;
}

.spinner {
  margin: 40px 0px 40px;
  width: 48px;
  height: 48px;
  border: 5px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-container {
    display: flex;
    flex-direction: column;
    background-color: pink;
    // width: 300px;
    padding: 20px 20px;
    justify-content: center;
    // align-items: center;
    border-radius: 10px;
    margin: 40px 0px 40px;
}

.error-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.back-button{
    background-color: white;
    color: inherit;
    width: fit-content;
    border-radius: 3px;
    border: 1px solid lightgray;

    // border: 0;
    // padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-bottom: 20px;


    &:hover {
        background-color: lightgray;
    }

}

.success-container {
    display: flex;
    flex-direction: column;
    background-color: lightgreen;
    // width: 300px;
    padding: 20px 20px;
    justify-content: center;
    // align-items: center;
    border-radius: 10px;
    margin: 40px 0px 40px;
    font-size: 18px;
}